@use '../../../vars.scss' as v;
@use '../../../mixins.scss' as m;

.preferences {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #fff;
	padding: v.$spacing-xl 0;
	&__body {
		max-width: 600px;
		margin: 0 auto;
		h2 {
			text-align: center;
			padding-bottom: v.$spacing-lg;
		}
		.main-btn {
			margin: 0 auto;
			display: block;
		}
	}
	&__head {
		@include m.flexBox($jc: space-between, $ai: flex-start);
		margin-bottom: v.$spacing-md;
		* {
			color: v.$darkgreen;
		}
	}
	&__portions,
	&__people {
		@include m.flexBox($fd: column, $ai: flex-start, $g: v.$spacing-md);
	}
	&__card {
		padding: v.$spacing-md;
		background-color: v.$olive-light;
		border-radius: v.$card-radius;
		margin-bottom: v.$spacing-md;
	}
}

.options {
	margin-bottom: v.$spacing-md;
	h3 {
		color: v.$darkgreen;
		padding-bottom: v.$spacing-sm;
	}
	&__row {
		@include m.flexBox($jc: flex-start, $g: v.$spacing-sm);
	}
	&__group {
		@include m.flexBox($fd:column, $jc: flex-start, $g: v.$spacing-sm);
		input {
			display: none;
			&:checked + label {
				background-color: v.$olive-light;
			}
		}
		label {
			font-weight: 500;
			padding: 6px 12px;
			background-color: v.$creme;
			border-radius: v.$pill-radius;
			&:hover {
				background-color: v.$creme-hover;
			}
		}
		span {
			font-size: 14px;
		}
	}
}

.input-group {
	@include m.flexBox($ai: center, $g: v.$spacing-xs);
	input {
		border: none;
		background-color: v.$olive-light;
		padding: v.$spacing-xs;
		width: 25px;
		text-align: center;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
	button {
		background-color: transparent;
		border: none;
	}
}