@use '../../../vars.scss' as v;
@use '../../../mixins.scss' as m;

.ingredients {
	height: 100vh;
	.container {
		height: 100%;
	}
	&__body {
		max-width: 1000px;
		margin: 0 auto;
		@include m.flexBox($fd: column, $g: v.$spacing-md);
		.main-btn {
			align-self: flex-end;
		}
	}
	&__row {
		@include m.flexBox(
			$jc: space-between,
			$ai: flex-start,
			$g: v.$spacing-mdg
		);
		width: 100%;
		margin-top: v.$spacing-lg;
	}
	&__input {
		&-container {
			flex: 0 0 calc(55% - 16px);
			max-width: calc(55% - 16px);
			@include m.flexBox($jc: space-between, $ai: flex-start);
			position: relative;
			.form-control {
				@include m.flexBox(
					$fd: column,
					$ai: flex-start,
					$jc: flex-start,
					$g: v.$spacing-sm
				);
				&.name {
					flex: 0 0 60%;
					max-width: 60%;
					input {
						width: 100%;
					}
					.error-message {
						color: #d32f2f;
						font-size: 0.85rem;
						margin-top: v.$spacing-xs;
					}
				}
				&.amount {
					flex: 0 0 35%;
					max-width: 35%;
				}
				@include m.ingredientInputStyling();
			}
		}
	}
	&__list {
		&-container {
			flex: 0 0 calc(45% - 16px);
			max-width: calc(45% - 16px);
		}
	}
	&__label {
		font-size: 1.3rem;
		font-weight: 500;
		color: v.$darkgreen;
	}
	&__action {
		@include m.flexBox($jc: space-between, $ai: center, $g: v.$spacing-xs);
		input {
			width: 60px;
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
	}
}

.suggestions-box {
	padding: v.$spacing-sm v.$spacing-md;
	.suggestion-item {
		font-weight: 600;
		cursor: pointer;
		margin-bottom: v.$spacing-xs;
	}
}