<section class="ingredients">
	<app-header></app-header>
	<div class="container">
		<div class="ingredients__body">
			<h1 class="h2 darkgreen">Generate recipe</h1>
			<p class="darkgreen">
				Got random stuff in your kitchen? Pop it in - we've got the
				perfect recipe waiting.
			</p>
			<div class="ingredients__row">
				<div class="ingredients__input-container green-card">
					<div class="form-control name">
						<label for="ingredient" class="ingredients__label"
							>Ingredient</label
						>
						<input
							type="text"
							id="ingredient"
							[formControl]="ingredientControl"
						/>
						@if (duplicateError()) {
							<span class="error-message">
								This ingredient is already added. Please use the edit button to modify it.
							</span>
						}
					</div>
					<div class="form-control amount">
						<span class="ingredients__label">Serving size</span>
						<div class="ingredients__action">
							<input
								type="number"
								id="amount"
								[formControl]="amountControl"
							/>
							<select
								id="unit"
								[formControl]="unitControl"
								(click)="toggleSelect()"
								(change)="closeSelect()"
								(blur)="closeSelect()"
								[class.open]="isSelectOpen()"
							>
								<option value="g">gram</option>
								<option value="ml">ml</option>
								<option value="piece">piece</option>
							</select>
							<button class="btn-add" (click)="addToList()">
								<img src="img/icons/add.svg" />
							</button>
						</div>
					</div>
					@if (filteredIngredients().length > 0) {
					<div class="suggestions-box">
						@for (ingredient of filteredIngredients(); track
						ingredient) {
						<p
							class="suggestion-item"
							(click)="selectIngredient(ingredient)"
						>
							{{ ingredient }}
						</p>
						}
					</div>
					}
				</div>
				<div class="ingredients__list-container green-card">
					<span class="ingredients__label"
						>List of your Ingredients</span
					>
					<ul class="ingredients__list">
						@for (item of ingredientsList(); track $index) {
							<app-ingredient-item
								[item]="item"
								[index]="$index"
								[isEditing]="editingIndex() === $index"
								(edit)="editIngredient($event)"
								(save)="saveEdit($event)"
								(cancel)="cancelEdit()"
								(remove)="removeIngredient($event)"
							/>
						}
					</ul>
				</div>
			</div>
			<button class="main-btn btn-green" (click)="showModal()" [class.d-none]="!nextstepAvailable()">
				Next step
			</button>
			<!-- @if (isModalVisible()) { -->
				<app-preferences (close)="hideModal()" [ingredients]="ingredientsList()"></app-preferences>
			<!-- } -->
		</div>
	</div>
</section>
