@use '../../../vars.scss' as v;
@use '../../../mixins.scss' as m;

.ingredients {
	height: 100vh;
	.container {
		height: 100%;
	}
	&__body {
		@include m.flexBox($fd: column, $g: v.$spacing-md);
	}
	&__row {
		@include m.flexBox(
			$jc: space-between,
			$ai: flex-start,
			$g: v.$spacing-mdg
		);
		width: 100%;
		margin-top: v.$spacing-lg;
		max-width: 1000px;
	}
	&__input {
		&-container {
			flex: 0 0 calc(60% - 16px);
			max-width: calc(60% - 16px);
			@include m.flexBox($jc: space-between, $ai: flex-start);
			position: relative;
			.form-control {
				@include m.flexBox(
					$fd: column,
					$ai: flex-start,
					$jc: flex-start,
					$g: v.$spacing-sm
				);
				&.name {
					flex: 0 0 60%;
					max-width: 60%;
					input {
						width: 100%;
					}
				}
				&.amount {
					flex: 0 0 35%;
					max-width: 35%;
				}
				@include m.ingredientInputStyling();
			}
		}
	}
	&__list {
		@include m.ingredientInputStyling();
		div {
			@include m.flexBox($jc: flex-start);
		}
		input {
			width: 50px;
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
		select {
			margin-left: v.$spacing-xs;
			margin-right: v.$spacing-sm;
		}
		button {
			background: transparent;
			border: none;
			cursor: pointer;
			padding: 3px 6px;
			border-radius: 7px;
			img {
				width: 15px;
				height: 15px;
				object-fit: contain;
			}
			&:first-of-type {
				margin-left: auto;
			}
		}
		&-container {
			flex: 0 0 calc(40% - 16px);
			max-width: calc(40% - 16px);
		}
	}
	&__label {
		font-size: 1.3rem;
		font-weight: 500;
		color: v.$darkgreen;
	}
	&__action {
		@include m.flexBox($jc: space-between, $ai: center, $g: v.$spacing-xs);
		input {
			width: 60px;
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
	}
}

.suggestions-box {
	padding: v.$spacing-sm v.$spacing-md;
	.suggestion-item {
		font-weight: 600;
		cursor: pointer;
		margin-bottom: v.$spacing-xs;
	}
}