@use '../../../vars.scss' as v;
@use '../../../mixins.scss' as m;

.ingredients {
	height: 100vh;
	.container {
		height: 100%;
	}
	&__body {
		@include m.flexBox($fd: column, $g: v.$spacing-md);
	}
	&__row {
		@include m.flexBox(
			$jc: space-between,
			$ai: flex-start,
			$g: v.$spacing-mdg
		);
		width: 100%;
		margin-top: v.$spacing-lg;
		max-width: 1000px;
	}
	&__input {
		&-container {
			flex: 0 0 calc(60% - 16px);
			max-width: calc(60% - 16px);
			@include m.flexBox($jc: space-between, $ai: flex-start);
			.form-control {
				@include m.flexBox(
					$fd: column,
					$ai: flex-start,
					$jc: flex-start,
					$g: v.$spacing-sm
				);
				&.name {
					flex: 0 0 60%;
					max-width: 60%;
					input {
						width: 100%;
					}
				}
				&.amount {
					flex: 0 0 35%;
					max-width: 35%;
				}
				input,
				select {
					border-radius: v.$pill-radius;
					border: 0;
					background-color: v.$creme;
					padding: v.$spacing-xs v.$spacing-sm;
					&:focus {
						outline: none;
					}
				}
				select {
					appearance: none;
					-webkit-appearance: none;
					-moz-appearance: none;
					padding-right: v.$spacing-md;
					position: relative;
					background-image: url('../../../../public/img/icons/arrow_drop_down.svg');
					@include m.backgroundProperties($bp: right 5px center, $bs: 10px);
					&.open {
						background-image: url('../../../../public/img/icons/arrow_drop_up.svg');
					}
				}
			}
		}
	}
	&__list {
		&-container {
			flex: 0 0 calc(40% - 16px);
			max-width: calc(40% - 16px);
		}
	}
	&__label {
		font-size: 1.3rem;
		font-weight: 500;
		color: v.$darkgreen;
	}
	&__action {
		@include m.flexBox(
			$jc: space-between,
			$ai: center,
			$g: v.$spacing-xs
		);
		input {
			width: 60px;
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
	}
}
