@use '../../../vars.scss' as v;
@use '../../../mixins.scss' as m;

.ingredients {
	height: 100vh;
	.container {
		height: 100%;
	}
	&__body {
		max-width: 1000px;
		margin: 0 auto;
		@include m.flexBox($fd: column, $g: v.$spacing-md);
		.main-btn {
			align-self: flex-end;
		}
	}
	&__row {
		@include m.flexBox(
			$jc: space-between,
			$ai: flex-start,
			$g: v.$spacing-mdg
		);
		width: 100%;
		margin-top: v.$spacing-lg;
	}
	&__input {
		&-container {
			flex: 0 0 calc(55% - 16px);
			max-width: calc(55% - 16px);
			min-height: 200px;
			@include m.flexBox($jc: space-between, $ai: flex-start);
			position: relative;
			.form-control {
				@include m.flexBox(
					$fd: column,
					$ai: flex-start,
					$jc: flex-start,
					$g: v.$spacing-sm
				);
				&.name {
					flex: 0 0 60%;
					max-width: 60%;
					input {
						width: 100%;
					}
					.error-message {
						color: #d32f2f;
						font-size: 0.85rem;
						margin-top: v.$spacing-xs;
					}
				}
				&.amount {
					flex: 0 0 35%;
					max-width: 35%;
				}
				@include m.ingredientInputStyling();
			}
		}
	}
	&__list {
		&-container {
			flex: 0 0 calc(45% - 16px);
			max-width: calc(45% - 16px);
			min-height: 250px;
		}
	}
	&__label {
		font-size: 1.3rem;
		font-weight: 500;
		color: v.$darkgreen;
	}
	&__action {
		@include m.flexBox($jc: space-between, $ai: center, $g: v.$spacing-xs);
		input {
			width: 50px;
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
	}
}

.custom-select {
	position: relative;
	cursor: pointer;

	.select-trigger {
		padding: 4px 24px 4px 8px;
		background: v.$creme;
		border: none;
		border-radius: v.$pill-radius;
		user-select: none;
		font-weight: 500;
		color: v.$darkgreen;
		@include m.flexBox($jc: space-between, $ai: center);
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: 5px;
			width: 15px;
			height: 15px;
			background-image: url('../../../../public/img/icons/arrow_drop_down.svg');
			@include m.backgroundProperties($bs: 10px);
			transform: translateY(-50%);
		}
	}
	&.open {
		.select-trigger {
			&::before {
				background-image: url('../../../../public/img/icons/arrow_drop_up.svg');
			}
		}
	}
	
	.select-options {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: transparent;
		border: none;
		border-radius: 0;
		z-index: 1000;
		margin-top: 2px;
	}
	
	.select-option {
		padding: 4px 12px;
		border-radius: v.$pill-radius;
		cursor: pointer;
		color: v.$darkgreen;
		transition: background-color 0.2s;
		font-weight: 600;
		&:hover {
			background-color: rgba(v.$creme, 0.5);
		}
	}
}

.suggestions-box {
	padding: v.$spacing-sm v.$spacing-md;
	.suggestion-item {
		font-weight: 600;
		cursor: pointer;
		margin-bottom: v.$spacing-xs;
	}
}