@use '../../../vars.scss' as v;
@use '../../../mixins.scss' as m;

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	padding: v.$spacing-md;
	background: #fff;
	width: 100%;
	height: 100%;
	padding: v.$spacing-xl 0;
	.back-btn {
		margin-bottom: calc(v.$spacing-mdg * 2);
	}
}

.recipe {
	padding: v.$spacing-lg;
	background: v.$creme-light;
	border-radius: v.$card-radius;
	@include m.flexBox($ai: flex-start, $g: 10px);
	&__banner {
		position: relative;
		flex: 0 0 100%;
		max-width: 100%;
		img {
			width: 100%;
			object-fit: contain;
		}
		h3 {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

// Scrollbar styling
.modal::-webkit-scrollbar {
	width: 8px;
}

.modal::-webkit-scrollbar-track {
	background: v.$creme;
	border-radius: v.$card-radius;
}

.modal::-webkit-scrollbar-thumb {
	background: v.$olivegreen;
	border-radius: v.$card-radius;

	&:hover {
		background: v.$green;
	}
}
