<div class="modal">
	<app-header></app-header>
	<div class="container">
		<button class="back-btn" (click)="closeModal()">
			<img src="img/icons/arrow-left.svg" alt="Close" />
			Recipe results
		</button>
		
		<div class="recipe">
			<app-recipe-head [recipe]="recipe()"></app-recipe-head>
			<div class="recipe__ingredients">
				<div class="recipe__banner">
					<img src="img/recipe/ingredients_banner.png">
					<h3 class="h4">Ingredients</h3>
				</div>
				<div class="recipe__ingredients--mandatory">
					<h4 class="h5">Your ingredients</h4>
					<ul>
						@for (item of recipe().requiredIngredients; track $index) {

						}
					</ul>
				</div>
				<div class="recipe__ingredients--extra">
					<h4 class="h5">Extra ingredients</h4>

				</div>
			</div>
		</div>
	</div>
</div>
