@use '../../../vars.scss' as v;
@use '../../../mixins.scss' as m;

section {
	background: v.$olivegreen;
	height: 100vh;
	overflow: hidden;
	padding: v.$spacing-xxl 0;
	.container {
		height: 100%;
	}
}

.results {
	&__head {
		@include m.flexBox($jc: space-between, $g: v.$spacing-xl);
		* {
			&:not(.pill-creme) {
				color: #fff;
			}
		}
		img {
			border-radius: v.$card-radius;
		}
	}
	&__welcome {
		@include m.flexBox($fd:column, $jc: flex-start, $ai: flex-start, $g: v.$spacing-md);
	} 
	&__specs {
		@include m.flexBox($jc: flex-start, $g: v.$spacing-sm);
	}
}

.recipes {
	margin-top: v.$spacing-xl;
	@include m.flexBox($jc: space-between, $g: v.$spacing-md);
	&__card {
		padding: v.$spacing-mdg v.$spacing-md;
		background: v.$card-bg;
		border-radius: v.$card-radius;
		flex: 0 0 30%;
		max-width: 30%;
		&--head {
			margin-bottom: v.$spacing-sm;
			color: v.$green;
			font-weight: 600;
			@include m.flexBox($jc: flex-start, $g: v.$spacing-sm);
		}
		&--body {
			color: v.$darkgreen;
		}
		&--time {
			margin: v.$spacing-sm 0 v.$spacing-mdg;
			@include m.flexBox($jc: flex-start, $g: v.$spacing-sm);
		}
	}
}



.loading-gif {
	width: 200px;
	height: 200px;
	margin-bottom: 1.5rem;
	object-fit: contain;
}
