// General //
@mixin flexBox($fd: row, $ai: center, $jc: center, $g: 0px, $wr: wrap) {
    display: flex;
    flex-direction: $fd;
    align-items: $ai;
    justify-content: $jc;
    flex-wrap: $wr;
    gap: $g;
}
// General //

// Background //
@mixin backgroundProperties($br: no-repeat, $bp: center, $bs: contain) {
	background-repeat: $br;
    background-position: $bp;
    background-size: $bs;
}
// Background //