$darkgreen: #10310B;
$olivegreen: #396039;
$green: #008000;
$olive-light: rgba($olivegreen, .3);

$creme: #FAF0E6;
$creme-hover: #FAE0C6;
$input-bg: rgba($creme, 0.8);

$card-radius: 20px;
$pill-radius: 33px;

$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-mdg: 32px;
$spacing-lg: 50px;
$spacing-xl: 100px;
$spacing-xxl: 150px;
$spacing-xxxl: 200px;
