$darkgreen: #10310B;
$olivegreen: #396039;
$green: #1E5515;
$olive-light: rgba($olivegreen, .3);

$creme: #FAF0E6;
$creme-hover: #FAE0C6;
$creme-light: rgba($creme, .3);
$input-bg: rgba($creme, 0.8);
$card-bg: #DBE0DB;
$chefOne-bg: #D7DFD7;
$chefTwo-bg: #FFD9B3;

$card-radius: 20px;
$pill-radius: 33px;

$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-mdg: 32px;
$spacing-lg: 50px;
$spacing-xl: 100px;
$spacing-xxl: 150px;
$spacing-xxxl: 200px;
